<footer>
    <!-- Footer Start -->
    <div class="footer-section">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-12 col-sm-12">
                        <div class="logo">
                            <a [routerLink]="['/home']">
                                <span class="logo-main">
                                    <img src="assets/img/expert-apps-logo-white.png" class="" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <ul class="menu">
                            <li class="menu-item-type-custom">
                                <a [routerLink]="['/home']">
                                    About Us
                                </a>
                            </li>
                            <li class="menu-item-type-custom">
                                <a [routerLink]="['/home']">
                                    Solutions
                                </a>
                            </li>
                            <li class="menu-item-type-custom">
                                <a [routerLink]="['/home']">
                                    Careers
                                </a>
                            </li>
                            <li class="menu-item-type-custom">
                                <a [routerLink]="['/home']">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">
                        <div class="widget-socials">

                            <div class="socials  square">
                                <ul class="social list-inline">
                                    <li>
                                        <a href="https://www.linkedin.com/">
                                            <img src="assets/img/svg/twitter-icon.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/">
                                            <img src="assets/img/svg/facebook-icon.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://facebook.com">
                                            <img src="assets/img/svg/linkedin-icon.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="FooterSocial">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12 copyright">
                            <p>
                                ©2020 Expert Apps, All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</footer>